body {
    background-color: #1F271B;
}

.hpc-logo-top {
    padding-left: 20px;
}

.image {
    animation: rotation 3s infinite linear;
    width: 200px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.loading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.welcome {
    color: white;
}
.main-container {
    display: flex;
    align-items: center;
}
.loading {
    color: white;
    padding-left: 60px;
}

.loading::after {
    display: inline-block;
    animation: dotty steps(1,end) 1.5s infinite;
    content: '';
  }
  
  @keyframes dotty {
      0%   { content: ''; }
      25%  { content: '.'; }
      50%  { content: '..'; }
      75%  { content: '...'; }
      100% { content: ''; }
  }